<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yildiz.flatsearchapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlatSearchApp">


        <activity android:name="com.yildiz.flatsearchapp.EditProfileActivity"
            android:label="Profili Düzenle"/>
        <activity android:name="com.yildiz.flatsearchapp.RegisterActivity"
            android:label="Kayıt Ol"/>
        <activity android:name="com.yildiz.flatsearchapp.FeedActivity"
            android:label="Ana Sayfa"/>
        <activity android:name="com.yildiz.flatsearchapp.FilteredUserActivity"
            android:label="Kullanıcı Detayları"/>
        <activity
            android:name="com.yildiz.flatsearchapp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>





    </application>

</manifest>